/node_modules/
/.vs/
/.vscode/
/target/
/logs/
/dist/
app/assets/images/backgrounds/0.jpg
app/assets/images/backgrounds/1.jpg
app/assets/images/backgrounds/2.jpg
app/assets/images/backgrounds/3.jpg
app/assets/images/backgrounds/4.jpg
app/assets/images/backgrounds/5.jpg
app/assets/images/backgrounds/6.jpg
app/assets/images/backgrounds/7.jpg
app/assets/images/LoadingSeal.png
app/assets/images/LoadingText.png
app/assets/images/SealCircle.ico
build/icon.png
img/launcher icon.png
img/launcher sample1.png
img/launcher sample2.png
img/launcher loading.png